In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
df = pd.read_csv('23_3/covid_19_clean_complete.csv')
df.head()

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered
0,NaN,Thailand,15.0000,101.0000,1/22/20,2,0,0
1,NaN,Japan,36.0000,138.0000,1/22/20,2,0,0
2,NaN,Singapore,1.2833,103.8333,1/22/20,0,0,0
3,NaN,Nepal,28.1667,84.2500,1/22/20,0,0,0
4,NaN,Malaysia,2.5000,112.5000,1/22/20,0,0,0

In [4]:
df.dtypes
df['Country/Region']= df['Country/Region'].astype("string")
df = df.drop_duplicates(subset='Country/Region', keep='last')

In [5]:
len(df)

171

In [6]:
df.isnull()

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered
17760,True,False,False,False,False,False,False,False
17761,True,False,False,False,False,False,False,False
17762,True,False,False,False,False,False,False,False
17763,True,False,False,False,False,False,False,False
17764,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
18051,True,False,False,False,False,False,False,False
18052,True,False,False,False,False,False,False,False
18053,True,False,False,False,False,False,False,False
18054,True,False,False,False,False,False,False,False
18055,True,False,False,False,False,False,False,False

In [7]:
to_drop = ['Province/State']
df.drop(to_drop, inplace=True , axis=1)

In [8]:
df.head()

      Country/Region      Lat      Long     Date  Confirmed  Deaths  Recovered
17760       Thailand  15.0000  101.0000  3/22/20        599       1         44
17761          Japan  36.0000  138.0000  3/22/20       1086      40        235
17762      Singapore   1.2833  103.8333  3/22/20        455       2        144
17763          Nepal  28.1667   84.2500  3/22/20          2       0          1
17764       Malaysia   2.5000  112.5000  3/22/20       1306      10        139

In [9]:
df['Country/Region'].is_unique

True

In [10]:
## total Confirmed/Deaths/Recovered cases
print("Total Confirmed:",df['Confirmed'].sum())
print("Total Recovered:",df['Recovered'].sum())
print("Total Deaths:",df['Deaths'].sum())

Total Confirmed: 190898
Total Recovered: 22969
Total Deaths: 9773

In [12]:
df = pd.read_csv('30_3/covid_19_clean_complete.csv')
#print(len(df))
#print(df.dtypes)
df['Country/Region']= df['Country/Region'].astype("string")
from_d = df.loc[(df['Country/Region']=="Greece") &(df['Date']=='3/21/20')]['Deaths']
to_d = df.loc[(df['Country/Region']=="Greece") &(df['Date']=='3/29/20')]['Deaths']

print("Deaths:",abs(int(from_d)-int(to_d)))

from_c = df.loc[(df['Country/Region']=="Greece") &(df['Date']=='3/21/20')]['Confirmed']
to_c = df.loc[(df['Country/Region']=="Greece") &(df['Date']=='3/29/20')]['Confirmed']

print("Confirmed:",abs(int(from_c)-int(to_c)))

from_r = df.loc[(df['Country/Region']=="Greece") &(df['Date']=='3/21/20')]['Recovered']
to_r = df.loc[(df['Country/Region']=="Greece") &(df['Date']=='3/29/20')]['Recovered']

print("Recovered:",abs(int(from_r)-int(to_r)))

Deaths: 25
Confirmed: 626
Recovered: 33